.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.DisplayGameContainer:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

.recentSearchItem {
    text-decoration: none;
    color: #333333;
}

.GameDetailsCatBtn {
    margin: 3px !important;
    text-transform: none !important;
    background-color: #CCCCCC !important;
    color: #333333 !important;
}

.summonerNameTable:hover {
    cursor: pointer;
}

.GameDetailsContainer {
    width: 70% !important;
}

.MatchSummaryGrid {
    padding-left: 12%;
    padding-right: 0%;
}

.GameOverviewTable {
    max-width: 75% !important;
}

.GameOverViewTableArena {
    max-width: 75% !important;
    margin-bottom: 10px !important;
}

@media (max-width: 1440px) {
    .MatchSummaryGrid {
        padding-left: 5%;
        padding-right: 5%;
    }
    .GameDetailsCatBtn {
        max-width: 100px;
        font-size: 12px !important;
    }
    .GameOverviewTable {
        max-width: 90% !important;
    }
}

.LanePhaseSummaryBubble {
    margin-left: 3px;
}

.LanePhaseSummaryBtn {
    background-color: white !important;
    color: black !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
}

.LanePhaseSummaryBtnBlue {
    background-color: white !important;
    color: black !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
}

.LanePhaseSummaryBtnDraw {
    background-color: white !important;
    color: black !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
}

/* .LanePhaseSummaryBtnClicked {
    background-color: #FF3F3F !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
}

.LanePhaseSummaryBtnClickedBlue {
    background-color: #37B7FF !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
} */

.LanePhaseSummaryBtnClicked {
    background-color: #8c8c8c !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
}

.LanePhaseSummaryBtnClickedBlue {
    background-color: #8c8c8c !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
}

.LanePhaseSummaryBtnClickedDraw {
    background-color: #8c8c8c !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
    text-transform: none !important;
}

/* .LanePhaseSummaryBtn:hover {
    background-color: #FF3F3F !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
}

.LanePhaseSummaryBtnBlue:hover {
    background-color: #37B7FF !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
} */

.LanePhaseSummaryBtn:hover {
    background-color: #8c8c8c !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
}

.LanePhaseSummaryBtnBlue:hover {
    background-color: #8c8c8c !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
}

.LanePhaseSummaryBtnDraw:hover {
    background-color: #8c8c8c !important;
    color: white !important;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
}

.LanePhaseSummaryCardActive {
    padding: 10px;
    padding-left: 20px;
    background-color: #EDEDED;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.LanePhaseSummaryCardInActive {
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 15px !important;
    margin-top: 5px !important;
}

.LanePhaseSummaryDetailsActive {
    background-color: #EDEDED;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.LanePhaseSummaryDetailsInActive {
    display: none !important;
}

.FeatBadge {
    background-color: #17BA6C;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    font-size: small !important;
}

.FeatBadge:hover {
    cursor: help;
}

.FailBadge {
    background-color: #474747;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    font-size: small !important;
}

.FailBadge:hover {
    cursor: help;
}

.TableStanding {
    background-color: grey;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.TableStandingMVP {
    background-color: #dab903;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.TableStandingAce {
    background-color: #a600c7;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.GraphHeader {
    text-align: center;
}

.clickableName {
    cursor: pointer;
}

.clickableChampImageAram {
    cursor: pointer;
    margin-right: 50px;
}

.favoriteButtonInactive {
    cursor: pointer;
    color: #D8D8D8;
}

.favoriteButtonActive {
    cursor: pointer;
    color: #fc578e;
}

.displayGameGoldBar {
    cursor: default;
}
